<script>
</script>

<section class="home-wrapper">
	<h1>OMDB API Movies Databases <br />using SvelteKit</h1>
	<img src="movies-home.jpg" alt="movies-home-page" />
</section>

<style>
	.home-wrapper {
		margin: 40px 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.home-wrapper img {
		max-width: 350px;
		box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
	}
	.home-wrapper h1 {
		font-size: 30px;
		font-weight: normal;
		color: #333;
		text-align: left;
		line-height: 1.5em;
	}

	@media (max-width: 768px) {
		.home-wrapper {
			flex-direction: column;
			align-items: center;
		}
	}
</style>
