<script>
	import { moviesData } from '../stores/moviesStore';
	import {fetchMoviesData} from '../stores/moviesStore'
	import { fade } from 'svelte/transition';
	import Card from '../components/moviesCard.svelte';
	console.log($moviesData);

	let movieTitle = '';

</script>

<form on:submit|preventDefault={fetchMoviesData(movieTitle)}>
	<input
		type="text"
		placeholder="Type your movie title..."
		class="input-movie"
		bind:value={movieTitle}
	/>
	<button type="submit" class="btn-submit">Submit</button>
</form>
<div class="card-container" in:fade>
	{#each $moviesData as movie}
		<Card>
			<img src={movie.Poster} alt={movie.Title} />
			<div class="movie-detail">
				<h3>{movie.Title}</h3>
				<p>{movie.Year}</p>
				<a href={`/movies/${movie.imdbID}`} class="btn-details">Details</a>
			</div>
		</Card>
	{/each}
</div>

<style>
	form {
		width: 100%;
		display: flex;
		gap: 12px;
		height: 40px;
		margin-bottom: 20px;
		border: none;
	}

	input {
		flex-grow: 2;
		border: 1px solid gray;
		padding: 8px 12px;
		border-radius: 6px;
	}

	.btn-submit {
		padding: 8px 12px;
		border: none;
		background-color: rgba(3, 10, 105, 0.7);
		color: #eee;
		border-radius: 6px;
		cursor: pointer;
	}

	.btn-submit:hover {
		background-color: rgba(3, 10, 105, 1);
		color: #fff;
	}

	.card-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 20px;
	}

	img {
		width: 100%;
	}

	.movie-detail {
		margin: 12px;
	}

	p {
		color: gray;
		font-size: 14px;
		margin: 8px 0;
	}

	.btn-details {
		display: inline-block;
		width: 120px;
		padding: 8px 12px;
		border-radius: 6px;
		border: none;
		background-color: rgba(1, 1, 131, 0.7);
		color: #ccc;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
	}

	.btn-details:hover {
		background-color: rgba(1, 1, 131, 1);
		color: #fff;
	}
</style>
