<nav>
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/movies">Movies DB</a>
		</li>
	</ul>
</nav>

<style>
	nav {
		height: 80px;
	}
	ul {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		list-style-type: none;
	}
	li {
		margin: 0 8px;
	}
	a {
		font-size: 1.2em;
	}
</style>
