<script context="module">
	export async function load({ params, fetch }) {
		const id = params.id;
		const url = `http://www.omdbapi.com/?apikey=7c36f70a&i=${id}`;
		const res = await fetch(url);
		const movieDetail = await res.json();

		return { props: { movieDetail } };
	}
</script>

<script>
	import Card from '../../components/moviesCard.svelte';
	import { fade, scale } from 'svelte/transition';
	export let movieDetail;
</script>

<Card>
	<section class="movie-detail" in:fade out:scale>
		<img src={movieDetail.Poster} alt={movieDetail.Title} />
		<ul class="details">
			<li>
				<p><strong>Title :</strong> {movieDetail.Title}</p>
			</li>
			<li>
				<p><strong>Rating (Internet Movie Database) :</strong> {movieDetail.Ratings[0].Value}</p>
			</li>
			<li>
				<p><strong>Actors :</strong> {movieDetail.Actors}</p>
			</li>
			<li>
				<p><strong>Genre :</strong> {movieDetail.Genre}</p>
			</li>
			<li>
				<p><strong>Plot :</strong> {movieDetail.Plot}</p>
			</li>
			<li>
				<p><strong>Language :</strong> {movieDetail.Language}</p>
			</li>
			<a href="/movies" class="btn-back">Back</a>
		</ul>
	</section>
</Card>

<style>
	.movie-detail {
		display: flex;
		align-items: center;
	}

	.movie-detail img {
		width: 40%;
	}

	.details {
		padding: 20px;
	}

	ul {
		list-style-type: none;
	}

	li {
		margin: 8px 0;
	}

	p {
		font-size: 16px;
		line-height: 1.5em;
	}

	.btn-back {
		border: none;
		background-color: rgba(255, 28, 28, 0.7);
		color: #ccc;
		text-align: center;
		border-radius: 6px;
		width: 90px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 14px;
		text-decoration: none;
		font-size: 14px;
	}

	.btn-back:hover {
		background-color: rgba(255, 28, 28, 1);
		color: #fff;
	}
</style>
